<mat-card>
    <mat-card-title>Novo Endereco</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="_ID"
                [(ngModel)]="endereco._id" name="_id">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="idEndereco"
                [(ngModel)]="endereco.idEndereco" name="idEndereco">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="idCliente"
                [(ngModel)]="endereco.idCliente" name="idCliente">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="logradouro"
                [(ngModel)]="endereco.logradouro" name="logradouro">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="bairro"
                [(ngModel)]="endereco.bairro" name="bairro">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="numero"
                [(ngModel)]="endereco.numero" name="numero">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="complemento"
                [(ngModel)]="endereco.complemento" name="complemento">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="cidade"
                [(ngModel)]="endereco.cidade" name="cidade">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="cep"
                [(ngModel)]="endereco.cep" name="cep">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="idEstado"
                [(ngModel)]="endereco.idEstado" name="idEstado">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="descricaoEstado"
                [(ngModel)]="endereco.descricaoEstado" name="descricaoEstado">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="pais"
                [(ngModel)]="endereco.pais" name="pais">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="createEndereco()" color="primary">
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>